*.orig
*.tar.xz
*.tar.*
cdtree/LFS/LFSSourceArchives
cdtree/LFS/LFSPkgBuilds
*.img
hostkeys
*.iso
workingfiles
cdtree/LFS/*
wget-list*
LFSBootCD*
root_tree32/
root_tree64/
xtrasanyarch/usr/bin/PkgVersions
forumlink